/*
date-picker.css is used for the DatePicker.jsx styles that cannot be added inside a const
*/

.valid-field {
  border: 1px solid #00565e;
}

.invalid-field {
  border: 3px solid #923534;
  border-radius: 8px;
}
