/*
registration-form.css is used for the RegistrationForm.jsx styles that cannot be added inside a const
*/

.names-grid {
  display: -ms-grid;
  display: grid;
  width: 504px;
}

.names-grid-first-name {
  -ms-grid-column: 1;
  grid-column: 1;
  width: 252px;
}

.names-grid-last-name {
  -ms-grid-column: 2;
  grid-column: 2;
  width: 240px;
  margin-left: 12px;
}

.privacy-notice-grid {
  display: -ms-grid;
  display: grid;
}

.privacy-notice-grid-checkbox {
  -ms-grid-column: 1;
  grid-column: 1;
}

.privacy-notice-grid-description {
  -ms-grid-column: 2;
  grid-column: 2;
  width: 470px;
  margin-left: 12px;
}

.valid-field {
  border: 1px solid #00565e;
}

.invalid-field {
  border: 3px solid #923534;
}

.invalid-dob-field {
  border: 3px solid #923534;
  border-radius: 8px;
}

/* this removes the 'clear field (X)' button in IE */
.valid-field::-ms-clear {
  display: none;
}

.invalid-field::-ms-clear {
  display: none;
}
